! 1920x1080x25in : 88dpi
! 1920x1080x15.6in : 141dpi
! 1920x1080x13.3in : 166dpi
! 2560x1440x13.3in : 221ppi
! 3200x1800x13.3in : 276dpi
Xft.dpi: 88

! URxvt
! normal colors
! color0 black
! color1 red
! color2 green
! color3 yellow
! color4 blue
! color5 purple
! color6 cyan
! color7 white
! light colors
! color8 black
! color9 red
! color10 green
! color11 yellow
! color12 blue
! color13 purple
! color14 cyan
! color15 white

URxvt*background: rgba:0000/0000/0000/d800
URxvt*buffered: true
URxvt*color1: #ff4040
URxvt*color4: #6495ed
URxvt.color10: #32a032
URxvt*color12: #6495ed
URxvt*depth: 32
URxvt*font: xft:Source Code Pro:style=Light:pixelsize=16,xft:Symbola:pixelsize=16
URxvt.boldFont: xft:Source Code Pro:style=Regular:pixelsize=16,xft:Symbola:pixelsize=16
URxvt.italicFont: xft:Source Code Pro Light:style=italic:pixelsize=16,xft:Symbola:pixelsize=16
URxvt*foreground: rgb:ffff/ffff/ffff
URxvt*letterSpace: 0
URxvt*saveLines:102400
URxvt*scrollBar: false
URxvt*scrollWithTtyOutput: false
URxvt*skipScroll: true
